@import "../global.scss";

.button{
    padding:0.8rem 2rem;
    font-weight: bold;
    color:rgb(255, 255, 255);
    background-color: darken($accent-color,10%);
    border-radius:10px;
    border:none;
    cursor:pointer;
    &:hover{
        background-color:darken($accent-color,20%);
    }
    &--icon{
        display:flex;
        margin:auto;
        padding:0.3rem 0.7rem;
        align-items: center;
        border-radius: 10px;
        cursor:pointer;
        background-color:$accent-color;
        border:none;
        &:hover{
            background-color: darken($background-section-color,10%);
        }
    }
    &--store{
        display:flex;
        align-items: center;
        gap:0.7rem;
        margin:auto;
        padding:0.8rem 1.5rem;
        border-radius:5px;
        background-color: $secondary-color;
        font-weight: 600;
        cursor:pointer;
        border:none;
        color:orange;
        &:hover{
            background-color: orange;
            color:$secondary-color;
        }
    }
}
