@import "../global.scss";

.button {
  padding: 0.8rem 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: darken($accent-color, 10%);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: darken($accent-color, 20%);
  }
  &--admin {
    display: flex;
    margin: auto;
    background-color: darken($primary-color, 30%);
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: darken($primary-color, 20%);
    }
  }
  &--icon {
    display: flex;
    margin: auto;
    padding: 0.3rem 0.5rem;
    color: white;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: darken($accent-color, 10%);
    border: none;
    &:hover {
      background-color: darken($accent-color, 20%);
    }
  }
  &--delete {
    padding: 0.8rem 1.5rem;
    align-items: center;
    border-radius: 5px;
    border: none;
    background-color: $delete-color;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: darken($delete-color, 15%);
    }
  }
  &--confirm {
    padding: 0.8rem 1.5rem;
    align-items: center;
    border-radius: 5px;
    border: none;
    background-color: $confirm-color;
    cursor: pointer;
    &:hover {
      background-color: darken($confirm-color, 15%);
    }
  }
  &--store {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin: auto;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    background-color: $secondary-color;
    font-weight: 600;
    cursor: pointer;
    border: none;
    color: orange;
    &:hover {
      background-color: orange;
      color: $secondary-color;
    }
  }
}
